* {
  background-color: black;
  color: white;
}

#title-and-image {
  text-align: center;
  font-size: 22px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#image-for-article {
  height: 250px;
  width: auto;
}

.full-article .description-of-the-article {
  text-align: center;
}


.full-article {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 18px;
}
